/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2015, 7:02:56 PM
    Author     : J_kula
*/
/** This is Variables **/
/*Mixing Goes here*/
@font-face{
    font-family: Myriadpro;
    src: url('Myriadpro.woff') format('woff');
}
@font-face{
    font-family: Shruti;
    src: url('Shruti.woff') format('woff');
}

.desciptHeight {
  height: 400px;
  width: 490px;

}

#abtwrapper {
  height: 350px;
  padding-top:30px;
 padding-bottom:10px;

}
#abtwrapper .jdescritp {
  margin: 0 auto;
  width: 960px;
  display: block;
} 
#abtwrapper .jdescritp .leftdescript {
  float: left;
  height: 320px; text-align: center;
  width: 150px;
  
}
#abtwrapper .jdescritp .leftdescript img{
    margin-top:15px;
}
#abtwrapper .jdescritp .leftdescript p.name{
    font-family: 'Arial', Arial;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
}
#abtwrapper .jdescritp .leftdescript p > pre{
    margin-top: 0px;
    color: #29ABE2;
    font-family: 'Myriadpro', Arial;
    font-size: 0.9em;
}
#abtwrapper .jdescritp .righdecript {
  float: right;
  height: 310px;
  width: 750px;
  border-left: 4px solid #808080;
  padding-left: 17px; padding-right: 6px;
  padding-top: 17px;
  
}

#abtwrapper .jdescritp .righdecript p{
    font-family: 'Shruti',Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: #808080;
}

