/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 9:39:03 PM
    Author     : J_kula
*/

*{
    margin:0;
    padding:0;
}
#maps{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
#cWrapper1{
    position:absolute;
    width: 100%;
    height:50px;
    z-index: 20;
    background: transparent;
   
}

#cWrapper1 .container{
    margin:0 auto;
    width:960px; vertical-align: middle;
    height: 50px; 
}
#cWrapper1 .container .setholer{
    border-radius:7px;
    padding: 0;
    margin-top: 21px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    //border:1px solid #DDDDDD;
    box-sizing: border-box;
    width:50%; opacity: 0.9;
    -moz-opacity:0.9;
    height:514px;
    float:left;
    background-color: #ffffff;
}
#cWrapper1 .container .setholer form{
    box-sizing: border-box;
    padding-left:1.0em;
    -moz-opacity:0.9;
    opacity:1;
    z-index:22;
    padding-top:1.0em;
   
}
#cWrapper1 .container .setholer form dl dt{
    font-family: 'Myriadpro',Arial;
    font-size: 0.9em;
    margin:2px 1px;
    
}
#cWrapper1 .container .setholer form input[type="text"],
input[type="email"],textarea:focus{
     -webkit-appearance: none;
     -ms-zoom: normal;
     outline:none;
  
}
#cWrapper1 .container .setholer form input[type="text"],input[type="email"]{
    line-height: 28px;
    padding: 3px 4px;
    font-family: Arial;
    font-size:13px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
::-moz-focus-inner {
    border: 0;
    outline: none; 
    padding: 0;
}

#cWrapper1 .container .setholer form textarea{
    font-family: Arial;
     border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 3px;
    box-sizing: border-box; 
    resize:none;
}
#cWrapper1 .container .setholer form span{
    font-family: 'Arial';
    font-size:12px;
    font-style: normal;
}
#cWrapper1 .container .setholer form input[type="submit"]:focus{
    outline:none;
}
#cWrapper1 .container .setholer form input[type="submit"]:hover{
    background-color: #29ABE2;
    text-shadow: 2px 2px 0px #999999;
}
#cWrapper1 .container .setholer form input[type="submit"]{
    line-height: 30px; display:inline-block;
    text-decoration: none; border-style: none;
    cursor:pointer;
    width:90px; text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: 'Arial', sans-serif;
    font-size: 80%;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    margin-top:4px;
    background: #9999ff;
    color: #fff;
}
#cWrapper1 .container .setholer form input[type="submit"]:disabled{
     background: #999999; color:white;
     border-radius: 3px;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
     cursor: default;
}
#cWrapper1 .container .setholer form button:disabled{
    background: #999999; color:white;
    transition: none;
}
#cWrapper1 .container .setholer form button{
    line-height: 30px;
    cursor:pointer;
    border-style: none;
    width: 90px;
    font-size: 80%;
    color: #ffffff;
    background-color: #666666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
   
}
#cWrapper1 .container .setholer form button:focus{
    outline: none;
    border:none;
}
#cWrapper1 .container .setholer form button:hover{
     background-color:crimson;
}
#cWrapper1 .container .setholer form button:active{
    background: #2094CE; color:#ffffff;
}

span:nth-child(1){color:red;}
form[novalidate] input,textarea{
    border-left-width: 7px;
    border-color: #2094CE;
    border-style: solid;
    box-shadow: none;
    
}
form .ng-submitted{
     border-color: #17AA25;
    border-left-width: 7px;
    border-style: solid;
}

input[required].ng-dirty{
    border:2px solid red;
    box-shadow: none;
} 
textarea[required].ng-dirty{
    border:2px solid red;
    box-shadow: none;
}

input.ng-dirty.ng-invalid{
    border:2px solid red;
    box-shadow: none;
}
input.ng-dirty.ng-valid{
    border-color: #17AA25;
    border-left-width: 7px;
    border-style: solid;
}
textarea.ng-dirty.ng-invalid{
    border:2px solid red;
    box-shadow: none;
}
textarea.ng-dirty.ng-valid{
    border-color: #17AA25;
    border-left-width: 7px;
    border-style: solid;
}
@font-face{
    font-family: Myriadpro;
    src: url('Myriadpro.woff') format('woff');
}
@font-face{
    font-family: Shruti;
    src: url('Shruti.woff') format('woff');
}
#contactnav{
    width:100%; 
    height: 40px;
    z-index: 50;
   border-top: 3px solid #2094CE;
    background-color:#333333;
}
#contactnav nav{margin:0px auto; width: 960px;}
#contactnav ul{padding:0; margin: 0; line-height:40px;}
#contactnav ul li{
        position:relative; list-style: none;
        line-height:40px; display: block;
        float:left;
      }
#contactnav ul li a{ height: 40px;  
         display: block; 
         width: 150px; 
         font-family:'Myriadpro',Arial;
         font-size: 14px;
         text-decoration: none; 
         color: #ccc; }
#contactnav ul li a:hover{ color: #29ABE2; 
                   }
#contactnav ul li a >img{
              float:left; 
             line-height: 40px; 
             margin-top: 6px;
             margin-right: 11px;}

#contactnav .others{float:right;}

@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
