/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
#jportfolio{
    width:100%;
    height:400px;
}
#jportfolio .portWrapper{
    margin:0px auto;
    height: inherit;
    width: 960px;
    border:1px solid #ffffff;
}
#jportfolio .portWrapper .centergraph{
    margin:100px auto;
    width:500px;
    height:100px;
}
#jportfolio .portWrapper .centergraph table{
    border-collapse: collapse;
    margin-top:10px;
    
}
#jportfolio .portWrapper .centergraph table tr td.blogimg{
    width: 120px;
    padding-right: 8px;
    border-right:4px solid #29ABE2;
}
#jportfolio .portWrapper .centergraph table tr td.descript{
    padding-left:9px;
    font-family:'Arial',sans-serif;
    font-size: 15px;
    color: #808080;
}