 <div id="cWrapper">
            <div class="container">
                <div class="setholer" ng-controller="contactCtrl as c">
                    <div class="notify" ng-if="c.msgsent">
                        Message has been sent !!
                    </div>
                    <form method="post" ng-submit="c.submit()" name="kcontact" id="contactk" novalidate>
                        <dl>
                            <dt>Email Address</dt>
                            
                            <dd>
                                <input type="email" 
                                       name="email" 
                                       id="email" 
                                       ng-model="tokens.mail" 
                                       size="25"
                                       required>
                                <span ng-show="kcontact.email.$dirty && kcontact.fname.$required"><sup>*</sup></span>
                                
                            </dd>
                            <dt>First Name</dt>
                            <dd><input 
                                    type="text" 
                                    name="fname" 
                                    id="fname" 
                                    ng-model="tokens.fname" 
                                    size="23" 
                                     ng-maxlength="20"
                                    ng-minlength="4" required>
                              <span ng-show="kcontact.fname.$dirty && kcontact.fname.$error.maxlength">Too long</span>
                                <span ng-show="kcontact.fname.$dirty && kcontact.fname.$error.minlength">Too short</span>
                            </dd>
                            <dt>Last Name</dt>
                            <dd><input 
                                    type="text" 
                                    name="lname" 
                                    id="lname" 
                                    size="25" 
                                    ng-model="tokens.lname"
                                    ng-maxlength="23"
                                    ng-minlength="4" required>
                                <span ng-show="kcontact.lname.$dirty && kcontact.lname.$error.maxlength">Too Long</span>
                                <span ng-show="kcontact.lname.$dirty && kcontact.lname.$error.minlength">Too short</span>
                            </dd>
                            <dt>Title</dt>
                            <dd>
                                <input 
                                    type="text" 
                                    name="title" 
                                    id="title" 
                                    size="25" 
                                    ng-model="tokens.title"
                                    ng-pattern="/a*/"
                                    ng-maxlength="23"
                                    ng-minlength="4" required>
                                <span ng-show="kcontact.title.$dirty && kcontact.title.$error.maxlength">Too Long</span>
                                <span ng-show="kcontact.title.$dirty && kcontact.title.$error.minlength">Too short</span>
                                
                            </dd>
                            <dt>Organization</dt>
                            <dd><input type="text" 
                                       name="organiz" 
                                       id="organiz" 
                                       size="23" 
                                       ng-model="tokens.organiz"
                                       ng-maxlength="23" 
                                       ng-minlength="4" required>
                                <span ng-show="kcontact.organiz.$dirty && kcontact.organiz.$error.maxlength">Too Long</span>
                                <span ng-show="kcontact.organiz.$dirty && kcontact.organiz.$error.minlength">Too short</span>
                            </dd>
                            <dt>Comments</dt>
                            <dd><textarea cols="50" 
                                          name="comment" 
                                          rows="5" 
                                          ng-model="tokens.comment"
                                          wrap="hard" 
                                          required>
                                              
                                </textarea></dd>
                            <dd>
                                <p>
                                    <input type="submit"ng-disabled="kcontact.$invalid" value="submit">
                                   <button ng-disabled="kcontact.$invalid">Cancel</button>
                                </p> 
                            </dd>
                        </dl> 
                   </form>
                    
                </div>
            </div>
        </div>


       