<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB-hQRMh-14jafG3yTMmf1ZRKVLqGOkce8"></script>
      <script src="../googlemaps.APIv3/jmaps.js" type="text/javascript"></script>
     <link rel="stylesheet" href="../css/styleHead.css"/>
    </head>
    <body>
          <header ng-controller="HeaderCtrl as hd">
             <div id="smHeader">
                 <div class="socialm">
                     <div class="github">
                         <img ng-click="hd.openrepo()" src="../wImages/sgithub.png"/>
                        <p>Public Repo...</p> 
                     </div>
                         
                     <div class="others">
                         <img ng-click="hd.linkedin()" src="../wImages/slinkedin.png"/>
                         <img ng-click="hd.gplus()" src="../wImages/sgplus.png"/>
                         <img ng-click="hd.faceme()" src="../wImages/sface.png"/>
                         <img ng-click="hd.twitt()" src="../wImages/stwitter.png"/>
                     </div>
                 </div>
            </div> 
            <div id="bnavi" >
            <nav> 
                <ul>
                    <li>
                <a href="#aboutme"> <img src="../wImages/0-saboutme.png"/>About J.kula</a></li>
                <li><a href="#"><img src="../wImages/4-smyblog.png"/>MyBlog</a></li>
                <li><a href="#"><img src="../wImages/3sportfolio.png"/>Portfolio</a></li>
                <li><a href="#contact"><img src="../wImages/1-contact.png"/>Contact</a></li>
            </ul>
            </nav>
           
        </div>
            <!--Square Background -->
            <div id="squareback">
                <div class="mdetails">
                    <div class="mimage">
                        <img ng-click="hd.home()" alt="Jkula profile Picture" src="../wImages/Jkula_001.png"/>
                        
                    </div>
                    <div  class="mprof">
                        <p>JOSUE KULA</p>
                        <p>Software Developer</p>
                        <p>Josh.kula@outlook.com</p>
                  </div>
                </div>     
            </div>
        </header>
        <div id="cWrapper" onload="initialize()"></div>
    </body>
</html>
